---
---
<html>
<head>
    <title>mRegistry | {{page.title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="header">
    <a href="{{site.baseurl}}"><img src="images/mlogo-line.png"/></a>
    <div class="nav">
        <a href="about.html">about</a>
        <a href="why_register.html">why register?</a>
        <a href="partners.html">partners</a>
        <a href="contact.html">contact</a>
    </div>
</div>
<div class="main">
    {{content}}

</div>
<div class="footer">
    <p class="lead">Maintained and curated by</p>
    <div class="row">
        <img src="images/logo-hrp.png"/>
        <img src="images/logo-unicef.png"/>
        <img src="images/logo-frog.png"/>
    </div>
    <div class="row">
        <img src="images/logo-gmi.png"/>
        <img src="images/logo-ona.png"/>
        <img src="images/logo-who.png"/>
    </div>
</div>
</body>
</html>
